.bio-container {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
  grid-template-areas: 'pic bio';
  align-items: stretch;
  margin-top: 50px;
  justify-content: center;
  position: relative;
  top: 80px;
  grid-auto-flow: dense;
  width: 1000px;
  padding: 10px;
  color: #112a46;

  /* background-color: #9a9283; */
}
.profile-pic-about-me {
  position: relative;
  top: 70px;
  left: -130px;
  padding-right: 10px;
  grid-area: pic;
  border-radius: 100%;
  width: 480px;
  height: 480px;
  justify-self: end;
  /* padding: 20px; */
}
.about-me-text-container {
  display: flex;
  position: relative;
  left: -100px;
  text-align: justify;
  top: 70px;
  padding-left: 50px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-left: solid;
  height: 480px;
  width: auto;
  grid-area: bio;
}
.bio-text {
  margin-top: 20px;
  font-size: 20px;
  width: 700px;
  word-spacing: 1px;
}
.northcoders-link {
  text-decoration: none;
  font-weight: bolder;
}

.about-me-title {
  font-size: 40px;
  margin-top: 10px;
  border-bottom: dotted;
  margin-bottom: 5px;
  color: #081320;
  text-transform: uppercase;
  font-weight: 1000;
}
@media (max-width: 1210px) {
  .bio-text {
    max-width: 625px;
  }
  .about-me-text-container {
    padding-left: 30px;
  }
}
@media (max-width: 1005px) {
  .bio-text {
    max-width: 600px;
    margin-bottom: 0px;
  }
  .bio-container {
    top: 140px;
    display: flex;
    width: auto;
    flex-direction: column;
    margin: auto;
  }
  .profile-pic-about-me {
    align-self: center;
    height: 250px;
    width: 250px;
    left: 0px;
    top: -70px;
    /* margin-bottom: -20px; */
  }
  .about-me-text-container {
    left: 0px;
    padding: 10px;
    border-right: solid;
    height: 529px;
  }
  .about-me-title {
    margin-top: 10%;
  }
}

@media (max-width: 637px) {
  .bio-text {
    max-width: 500px;
  }
  .about-me-text-container {
    height: 609px;
  }
}
@media (max-width: 534px) {
  .about-me-text-container {
    height: 710px;
  }
  .bio-text {
    max-width: 400px;
    padding: 5px;
  }
}
@media (max-width: 426px) {
  .about-me-text-container {
    height: 820px;
  }
  .bio-text {
    max-width: 350px;
    padding: 5px;
  }
}
