.bio-container {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
  grid-template-areas: 'pic bio';
  align-items: stretch;
  margin-top: 50px;
  justify-content: center;
  position: relative;
  top: 80px;
  grid-auto-flow: dense;
  width: 1000px;
  padding: 10px;
  color: #112a46;

  /* background-color: #9a9283; */
}
.profile-pic-about-me {
  position: relative;
  top: 70px;
  left: -130px;
  padding-right: 10px;
  grid-area: pic;
  border-radius: 100%;
  width: 480px;
  height: 480px;
  justify-self: end;
  /* padding: 20px; */
}
.about-me-text-container {
  display: flex;
  position: relative;
  left: -100px;
  text-align: justify;
  top: 70px;
  padding-left: 50px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-left: solid;
  height: 480px;
  grid-area: bio;
}
.bio-text {
  font-size: 20px;
  width: 700px;
}
.northcoders-link {
  text-decoration: none;
  font-weight: bolder;
}

.about-me-title {
  font-size: 40px;
  margin-top: 10px;
  border-bottom: dotted;
  margin-bottom: 5px;
  color: #081320;
  text-transform: uppercase;
  font-weight: 1000;
}
@media (max-width: 1210px) {
  .bio-text {
    max-width: 500px;
  }
}
@media (max-width: 1005px) {
  .bio-text {
    max-width: 95%;
  }
  .bio-container {
    top: 100px;
    display: flex;
    width: auto;
    flex-direction: column;
    margin: auto;
  }
  .profile-pic-about-me {
    align-self: center;
    height: 250px;
    width: 250px;
    left: 0px;
    margin-bottom: -20px;
  }
  .about-me-text-container {
    left: 0px;
    border: none;
  }
  .about-me-title {
    margin-top: 10%;
  }
}

@media (max-width: 678px) {
  .about-me-text-container {
    /* top: 80px; */
  }
}
@media (max-width: 435px) {
  .about-me-text-container {
    /* top: 140px; */
  }
}
