.contact-form-container {
  position: relative;
  top: 150px;
  width: 60%;
  padding: 20px;

  margin: auto;
  font-size: 30px;
  border: double;
}
.submit-button {
  width: 20%;
  margin: auto;
  transform: scale(1.3);
}
.form-control {
  border-radius: 0.5rem;
}
.p-heading1 {
  font-size: 3.5rem;
  border-bottom: dotted;
  width: 35%;
  margin: auto;
  font-weight: bolder;
}
label.text-muted {
  color: #112a46 !important;
}
