.contact-form-container {
  position: relative;
  top: 150px;
  width: 50%;
  margin: auto;
  font-size: 30px;
}
.p-heading1 {
  font-size: 3.5rem;
  border-bottom: dotted;
  width: 35%;
  margin: auto;
  font-weight: bolder;
}
label.text-muted {
  color: #112a46 !important;
}
