.project-card-container {
  display: grid;
  grid-template-rows: 50px 150px 200px;
  grid-template-areas:
    'title'
    'pic'
    'description';
  position: relative;
  top: 100px;
  text-align: center;
  /* border: solid; */
  border-radius: 10%;
  height: auto;
  min-height: 400px;
  width: 250px;
  margin: auto;
}
.project-title-container {
  grid-area: title;
  background-color: whitesmoke;
  padding: 0px;
  border: solid 1px;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
}
.project-card-title {
  /* height: 100%; */
  font-size: 20px;
  font-weight: bolder;
  margin: auto;
  padding: 20px;
}
.project-image-container {
  display: flex;
  grid-area: pic;

  flex-direction: column;
  justify-content: center;
  border-left: solid 1px;
  border-right: solid 1px;
  background-color: whitesmoke;
  background:
        /* top, transparent black, faked with gradient */ linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  background-origin: content-box;

  background-blend-mode: screen;
}
.project-img {
  width: 100%;
  vertical-align: middle;
  padding: 10px 0px;
}

.project-info-container {
  padding: 10px 5px;
  font-size: 15px;
  border: solid 1px;
  display: flex;
  grid-area: description;
  background-color: whitesmoke;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
  /* height: 30%; */
  flex-direction: column;
  /* justify-content: center; */
}
.project-info-text {
}
